<footer class="footer">
  <!-- Footer Copyright -->
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <p class="text-dark no-mg pd-t-xs">2017 © Vo Anh Tu - All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>