<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#onepage-nav"><i class="fa fa-bars"></i></button>
      <div class="logo-wrapper-index">
        <h2 class="mg-t-sm">ImagesUpload</h2>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="onepage-nav">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign Up', register_path %></li>
        <li><%=	link_to 'Sign In', login_path %></li>
      </ul>
    </div>
  </div>
</nav>